<div class="footer">
     	<div class="wrap">
     	  <div class="footer-menu">
     		<ul>
				<li class="active"><a href="index-2.html">Home</a></li> 
				<li><a href="about.html">About US</a></li> 
				<li><a href="work.html">Hot Events</a></li> 
				<li><a href="industries.html">Trending Events</a></li> 
				<li><a href="features.html">Contact Us</a></li>
				<li><a href="features.html">Privacy policy</a></li>
				<li><a href="work.html">Terms of service</a></li>
				<div class="clear"></div>
			</ul>
     	  </div>
     	  <div class="footer-bottom">
     	  	<div class="copy">
			   <p>© 2020 MeetUp. All rights reserved </p>
		    </div>
		      <div class="social">	
			   <ul>	
				  <li class="facebook"><a href="#"><span> </span></a></li>
				  <li class="twitter"><a href="#"><span> </span></a></li>
				  <li class="linked"><a href="#"><span> </span></a></li>	
						
			   </ul>
		    </div>
		    <div class="clear"></div>
     	  </div>
       </div>
     </div>
