{% extends 'base.html' %}
{% block content %}

 <div class="page-wrapper p-t-45 p-b-50">
        <div class="loginwrapper wrapper--w790">
            <div class="car d card-5">
                <div class="card-heading">
                    <h2 class="title">Login Form</h2>
                </div>
                <div class="card-body">
                    <!-- Alerts -->
                    {% include 'partials/alerts.html' %}
                    <form action ="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="username" required="">
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <button class="btn loginbtn--radius-2 btn--red" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

