{% extends 'base.html' %}
{% block content %}

 <div class="page-wrapper  p-t-45 p-b-50">

        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Discover Your Event</h2>
                </div>

                <div class="card-body">
                   {% include 'partials/alerts.html' %}
                    <form action ="{% url 'event_created' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-row ">
                            <div class="name">Title</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="title">
                                            
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="address">
                                            
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Venue</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="venue">
                                            
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>


                    <div class="form-row">
                            <div class="name">Description</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <textarea class="textarea" type="text" name="description"></textarea> 
                                            
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        
                           <div class="form-row">
                            <div class="name">Contact Details</div>
                            <div class="value">
                                <div class="input-group">

                                    <input class="input--style-5" type="text" name="contact">

                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <button class="btn loginbtn--radius-2 btn--red" type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

