{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="main">
     	<div class="wrap">
     		<h2 class="head1">Latest Events</h2>
     		<p class="m_5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
     		



     
     			{% if events %}
     			   {% for event in events %}

     			   		<div class="section group">
						 <div class="col_1_of_3 span_1_of_3">
					<img src="{{ event.photo_main.url }}" alt="" width="1000px" height="225px"/>
					<ul class="m_fb">
						<li>
							<span class="m_22"><a href="#"><img src="{% static 'images/fb.png' %}" alt=""/></a></span>
						    <span class="m_23"><a href="#"><img src="{% static 'images/heart.png' %}" alt=""/></a></span>
						     <div class="clear"></div>
						</li>
					</ul>
					  <div class="desc">
						<p><span class="venue"><a href="#"> Event: {{ event.title }}</a></span></p>
						<h4 class="m_2">Venue: {{ event.venue }}</h4>
						<h4 class="m_2">Conatact Details: {{ event.phone }}</h4>
						<h5 class="m_3">Address: {{ event.address }}</h5>
           				 <h5 class="m_3">Ticket: Rs. {{ event.ticketprice }}</h5>
						
						<p>{{ event.description }}</p>
					   </div>

						<a href="{% url 'event' event.id %}" class="backto btn-primary btn-block btn-light">More Info</a>
					   </div>
					   </div>

     			   {% endfor %}
     			{% else %}
     			  <div class="col-md-12">
     			  	<p>No Events Available</p>
     			  </div>
     			{% endif %}

     			
      

     		
				<div class="clear"></div>

				</div>


     	</div>
     </div>

{% endblock %}
